<span>
    <h3>Login</h3>
    <form [formGroup]="form">
        <fieldset>

            <app-label-control 
                caption="Email" 
                controlName="email"
                [isRequired]="true"
                [showError]="showError('email')" 
                [errorMessage]="getErrorMessage('email')">
            </app-label-control>
            <input id="email" name="email" type="email" formControlName="email">

            <app-label-control 
                caption="Password" 
                controlName="password"
                [isRequired]="true"
                [showError]="showError('password')" 
                [errorMessage]="getErrorMessage('password')">
            </app-label-control>
            <input id="password" name="password" type="password" formControlName="password">
            
        </fieldset>
        <button [disabled]="form.invalid" (click)="onLoginClick()">Login</button>
    </form>

</span>